.header {
  background-image: image-url("fresh.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  width: auto;
  vertical-align: middle;
}

body {
   background-image: image-url("fresh.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.index {
  margin: auto;
  height: 150px;
}

.recipe-tag {
  color: #0C0EE8
}

li {
  list-style: none;
}

.title {
  color: white;
  position: absolute;
  top: 200px;
  left: 38%;
  font-size: 500%;
}



h1, h5 {
  text-align: center;
}

.recipe-index {
  text-align: left;
  margin-left: 18%;
  margin-top: 2%;
}

.recipe-show {
  margin-top: 2%;
}
.recipe {
  border: 3px solid #FF0000;
  margin: 2%;
  border-radius: 5%;
  text-align: center;
  background-color: #E8B20C;
  height: 310px;
}

form {
  margin: auto
}

grid-container {
  margin-left: 10%;
  margin-right: 10%;
}

.display {
  background-color: white;
  margin: 5%;
  text-align: center;
  padding: 3%;
}

.stats {
  margin: 2%;
  float: left;
}

table {
  text-align: center;
  margin: auto;
}

.form-page {
  background-color: white;
  margin: 0% 20% 20% 20%;
  text-align: center;
  padding: 5%;
}

.user {
  text-align: left;
}

.show {
  text-align: center;
}

.show-recipe {
  padding-left: 15%;
}

.values {
  margin: auto;
}

.recipe-container {
  padding-left: 15%;
}

.submit-recipes {
  text-align: left;
  margin-right: 18%;
  margin-top: 3%;
}
