
    <ul>

      <!-- Button -->
      <% if user_signed_in? %>
        <li class="show-for-large-up">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <li class="show-for-large-up">
        <%= link_to "Log in", new_user_session_path %>
      </li>
      <% end %>
    </ul>
